parameters:
    niji:
        doctrineMigrations:
            safeMigration:
                blacklistedQueries: null
                safeMigrationTag: null
            description:
                acceptedPattern: null

parametersSchema:
	niji: structure([
        doctrineMigrations: structure([
            safeMigration: structure([
                blacklistedQueries: schema(arrayOf(string()), nullable())
                safeMigrationTag: schema(string(), nullable())
            ])
            description: structure([
                acceptedPattern: schema(string(), nullable())
            ])
        ])
	])

rules:
    - NijiDigital\PhpStanRules\Rules\NoRelativeDatetime

services:
    -
        class: NijiDigital\PhpStanRules\Rules\DoctrineMigrationsSafeMigration
        arguments:
            blacklistedQueries: %niji.doctrineMigrations.safeMigration.blacklistedQueries%
            safeMigrationTag: %niji.doctrineMigrations.safeMigration.safeMigrationTag%
        tags:
            - phpstan.rules.rule
    -
        class: NijiDigital\PhpStanRules\Rules\DoctrineMigrationsDescription
        arguments:
            acceptedPattern: %niji.doctrineMigrations.description.acceptedPattern%
        tags:
            - phpstan.rules.rule


